// secret keys
exports.cookie_key = "<secret_cookie_key>";
exports.securityKey1 = "<security_key_1>";    // key for generating large badge
exports.securityKey2 = "<security_key_2>";    // key for generating large badge
exports.PardotsUserKey = "<pardot_user_key>";
exports.PardotsUserEmail = "<pardot_user_email>";
exports.PardotsUserPassword = "<pardot_user_password>;
