<div class="modal fade assessment-help-modal" id="id-assessment-help">
	<div class="modal-dialog">
		<div class="onboarding-wrap clearfix">
			<div class="white-border-wrap">
				<h1 class="onboarding-welcome-title">Workstyle Personality Assessment</h1>
				<div class="dashed-lines"><span></span><span></span><span></span><span></span><span></span></div>
				<p class="onboarding-desc-wrap">
					Mark the response that best fits you as your first choice. If more than one response fits, rank them sequentially, first, second, third, and so on. <br>
					(You do not have to rank every choice, just those that apply to you).
				</p>
				<img src="<%= asset('assets/images/assessment_question.png') %>">
			</div>
			<div class="onboarding-btn-wrap">
				<a href="#" class="btn black-btn" data-dismiss="modal">OKAY</a>
			</div>
		</div>
	</div>
</div>
