<div class="user-settings-modal start-contest-modal contest-started-wrap modal fade" id="contest-canceled">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <a href="#" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
            <h4 class="modal-title">The Contest is Canceled!</h4>
         </div>
         <div class="modal-body">
            <h6 class="contest-confirm-title">WE RECOMMENDED EMAILING WORKSTYLE EMPLOYEES TO LET THEM KNOWN THE CONTEST HAS BEEN CANCELED</h6>
            <div class="contest-details-wrap">
               <div class="contest-btm-wrap">
                  <a class="btn yellow-btn" data-dismiss="modal" aria-label="Close">Okay</a><br>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
