<div class="user-settings-modal modal fade" id="delete-user">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Permanently Delete User form Workstyle</h4>
         </div>
         <div class="modal-body modal-btn-group">
            <a href="#" data-dismiss="modal" aria-label="Close" class="btn white-btn">CANCEL</a><a href="" class="btn black-btn">DELETE</a>
         </div>
      </div>
   </div>
</div>
