<div class="user-settings-modal edit-user-modal modal fade" id="edit-user">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Edit User Detail</h4>
         </div>
         <div class="modal-body modal-btn-group">
            <p class="error-msg-field">Please make sure <span>no fields are left empty</span></p>
            <form class="edit-detail-form">
               <div class="field-row">
                  <label class="account-form-label">First name</label>
                  <div class="form-group">
                     <input type="text" class="form-control input-common">
                  </div>
               </div>
               <div class="field-row">
                  <label class="account-form-label">Last name</label>
                  <div class="form-group error-wrap">
                     <input type="text" class="form-control input-common">
                  </div>
               </div>
               <div class="field-row">
                  <label class="account-form-label">Phone number</label>
                  <div class="form-group">
                     <input type="text" class="form-control input-common">
                  </div>
               </div>
               <div class="field-row">
                  <label class="account-form-label">Position</label>
                  <div class="form-group">
                     <input type="text" class="form-control input-common">
                  </div>
               </div>
               <div class="field-row">
                  <label class="account-form-label">Department</label>
                  <div class="form-group">
                     <input type="text" class="form-control input-common">
                  </div>
               </div>
               <div class="field-row">
                  <label class="account-form-label">User Type</label>
                  <div class="form-group department-select-wrap settings-department-select">
                     <select class="selectpicker form-control input-common">
                        <option>Super Administrator</option>
                        <option>Administrator</option>
                        <option>Department Supervisor</option>
                        <option>Sub-Department Supervisor</option>
                        <option>Regular User</option>
                     </select>
                  </div>
               </div>
               <div class="field-row">
                  <label class="account-form-label">Phone ID</label>
                  <div class="form-group">
                     <input type="text" class="form-control input-common">
                  </div>
               </div>
               <div class="field-row">
                  <label class="account-form-label">Source ID</label>
                  <div class="form-group">
                     <input type="text" class="form-control input-common">
                  </div>
               </div>
               <div class="btm-btn-wrap">
                  <button class="btn yellow-btn">UPDATE INFO</button>
                  <a href="#" data-dismiss="modal" aria-label="Close" class="btn black-btn">CANCEL</a>
               </div>
               <div class="btn-link-wrap">
                  <a href="#">Disable User</a>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
