<div class="user-settings-modal start-contest-modal modal fade" id="end-contest">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <a href="#" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
            <h4 class="modal-title">Confirm Contest Cancelation</h4>
         </div>
         <div class="modal-body">
            <h6 class="contest-confirm-title">YOU ARE ABOUT TO CANCEL A COMPANY-WIDE CONTEST WITH THE FOLLOWING DETAILS:</h6>
            <div class="contest-details-wrap">
               <div class="modal-contest-field contest-company-field">
                  <h3>Company:</h3>
                  <p class="contest-field-value">Microsoft</p>
               </div>
               <div class="modal-contest-field contest-reward-field">
                  <h3>Top PQ Score Wins:</h3>
                  <p class="contest-field-value">$ 200 Gift Card</p>
               </div>
               <div class="modal-contest-field">
                  <h3>Contest Ends:</h3>
                  <p class="contest-field-value">12/29/2016</p>
               </div>
               <div class="contest-btm-wrap">
                  <p class="contest-btm-text">CANCEL CONTEST?</p>
                  <a class="btn yellow-btn" id="js-canceled-btn">CANCEL CONTEST</a><br>
                  <a href="#" class="change-contest-link">Hold on, I changed my mind about something</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
