<div class="explore-nav-wrap">
	<ul class="container explore-nav-list">
		<li>
			<a class="explore-nav-tab overview-tab<% if (locals.overview_page) { %> active<% } %>" href="/ui-statics/explore-overview">Overview</a>
		</li>
		<li>
			<a class="explore-nav-tab organizer-tab<% if (locals.organizer_page) { %> active<% } %>" href="/ui-statics/explore-organizer">The Organizer</a>
		</li>
		<li>
			<a class="explore-nav-tab connector-tab<% if (locals.connector_page) { %> active<% } %>" href="/ui-statics/explore-connector">The Connector</a>
		</li>
		<li>
			<a class="explore-nav-tab original-tab<% if (locals.original_page) { %> active<% } %>" href="/ui-statics/explore-original">The Original</a>
		</li>
		<li>
			<a class="explore-nav-tab doer-tab<% if (locals.doer_page) { %> active<% } %>" href="/ui-statics/explore-doer">The Doer</a>
		</li>
		<li>
			<a class="explore-nav-tab advisor-tab<% if (locals.advisor_page) { %> active<% } %>" href="/ui-statics/explore-advisor">The Advisor</a>
		</li>
		<li>
			<a class="explore-nav-tab dreamer-tab<% if (locals.dreamer_page) { %> active<% } %>" href="/ui-statics/explore-dreamer">The Dreamer</a>
		</li>
		<li>
			<a class="explore-nav-tab predictor-tab<% if (locals.predictor_page) { %> active<% } %>" href="/ui-statics/explore-personality-predictor-1">Personality Predictor</a>
		</li>
	</ul>
</div>
