<div class="invite-modal-wrap modal fade" id="inviteModal">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <a href="#" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
            <h4 class="modal-title">Enter a coworker's email to invite them to Workstyle</h4>
         </div>
         <div class="modal-body invite-form-wrap">
            <form>
               <div class="input-group">
                  <input type="text" class="form-control" id="exampleInputAmount" placeholder="Enter Email">
                  <span class="input-group-btn">
                     <button class="btn">Send Invite</button>
                  </span>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
