<div class="modal fade pq-profile-modal" id="pq-public-profile" tabindex="-1" role="dialog" data-backdrop="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="banner-wrap original-wrap">
				<div class="container">
					<a href="#" class="ws-icon-close close-pq-modal" data-dismiss="modal" aria-label="Close"></a>
					<span class="icon-wrap"></span>
					<p class="about-me-wrap">
						Jason Wesbecher,  
						<span>Chief Marketing Officer</span>
					</p>
					<img class="superpower-tag" src="<%= asset('assets/images/original_superpower.png') %>">
					<p class="pq-desc-wrap">The Original personality is one of six Workstyle personality types. They are typically adaptable, persuasive, and charming. The keys to successfully communicating in email and elsewhere with a Original personality type include being direct, to the point, and energetic.</p>
					<p class="pq-desc-wrap">By taking these factors into account, you will increase your chances of succesfully connecting and communicating with a Original personality type.</p>
					<a href="#" class="black-btn">LEARN MORE ABOUT WORKSTYLE</a>
					<p class="login-now-wrap">Already have an account? <a href="#">Log in</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
