<div class="user-settings-modal deleted-user-modal print-report-modal modal fade" id="print-report-modal">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <a href="#" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
         </div>
         <div class="modal-body">
            <p class="hint-text-wrp">We've prepared a special personality report for you to print!</p>
            <p class="hint-sm-text">The report includes a page for you to hang at your workspace so other know your workstyle.</p>
            <p class="hint-sm-text"">Check it out!</p>
            <a href="#" class="btn yellow-btn">SEE MY PRINTABLE REPORT</a>
         </div>
      </div>
   </div>
</div>
