<div class="modal fade pwd-reset-modal" id="id-pwd-reset-modal" tabindex="-1" role="dialog" aria-labelledby="pwdResetModal" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<a href="#" class="close-modal" data-dismiss="modal">x</a>
				<form>
					<h2 class="modal-head">Forgot password</h2>
					<div class="form-group js-input-group">
						<input type="text" class="form-control input-common js-email-field" placeholder="Email">
						<div class="custom-tooltip">
							<div class="custom-tooltip-arrow"></div>
							<p class="error-text-wrap">* Required Field</p>
						</div>
					</div>
					<div class="clearfix reset-btn-wrap">
						<a href="#" data-dismiss="modal" class="btn black-hollow-btn js-reset-form">Cancel</a>
						<button class="btn black-btn">SEND REQUEST</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
