<div class="faq-tab-wrap">
	<h2>Help/FAQ</h2>
	<ul class="faq-list-wrap">
		<li class="faq-list-item">
			<h4>How does workstyle predict my personality type?</h4>
			<p>Workstyle uses proprietary.</p>
		</li>
		<li class="faq-list-item">
			<h4>What if I don’t agree with the personality type that I’ve been assigned?</h4>
			<p>No problem, send us an email to help@workstyle.com and we’ll help make sure you get the right assignment!..</p>
		</li>
		<li class="faq-list-item">
			<h4>How do I put my Workstyle badge into my email footer?</h4>
			<p>Go to your My PQ page and copy the link for the badge at the bottom of the page by pressing “copy”. Go to the footer settings page of your email program. Past the full link copied from the Workstyle site into the footer editing form and make sure you have your footer activated in your email client.</p>
		</li>
		<li class="faq-list-item">
			<h4>What is a PQ Score?</h4>
			<p>PQ score is short for “Personality Quotient.” Your overall PQ score reflects your ability to identify, understand, and connect with all six Workstyle personality types in your quiz quests.</p>
		</li>
		<li class="faq-list-item">
			<h4>How do I build my PQ Score?</h4>
			<p>Each time you get a question right when you Quest & Quiz you gain PQ points depending on the difficulty level of the question.</p>
		</li>
	</ul>
</div>



