<form class="setting-form">
	<div class="field-row">
		<label class="account-form-label">Old Password</label>
		<div class="form-group error-wrap">
			<input type="password" class="form-control input-common js-input-text">
			<div class="custom-tooltip">
				<div class="custom-tooltip-arrow"></div>
				<p class="error-text-wrap">* Required Field</p>
			</div>
		</div>
	</div>
	<div class="field-row">
		<label class="account-form-label">New Password</label>
		<div class="form-group">
			<input type="password" class="form-control input-common js-input-text">
			<div class="custom-tooltip">
				<div class="custom-tooltip-arrow"></div>
				<p class="error-text-wrap">* Required Field</p>
			</div>
		</div>
	</div>
	<div class="field-row">
		<label class="account-form-label">Repeat New Password</label>
		<div class="form-group">
			<input type="password" class="form-control input-common js-input-text">
			<div class="custom-tooltip">
				<div class="custom-tooltip-arrow"></div>
				<p class="error-text-wrap">* Required Field</p>
			</div>
		</div>
	</div>
	<div class="settings-form-btn">
		<button class="btn yellow-btn">Update Password</button>
	</div>
</form>
