<form class="setting-form">
	<div class="field-row">
		<label class="account-form-label">First Name</label>
		<div class="form-group error-wrap">
			<input type="text" class="form-control input-common js-input-text">
			<div class="custom-tooltip">
				<div class="custom-tooltip-arrow"></div>
				<p class="error-text-wrap">* Required Field</p>
			</div>
		</div>
	</div>
	<div class="field-row">
		<label class="account-form-label">Last Name</label>
		<div class="form-group">
			<input type="text" class="form-control input-common js-input-text">
			<div class="custom-tooltip">
				<div class="custom-tooltip-arrow"></div>
				<p class="error-text-wrap">* Required Field</p>
			</div>
		</div>
	</div>
	<div class="field-row">
		<label class="account-form-label">Position Title</label>
		<div class="form-group">
			<input type="text" class="form-control input-common js-input-text">
			<div class="custom-tooltip">
				<div class="custom-tooltip-arrow"></div>
				<p class="error-text-wrap">* Required Field</p>
			</div>
		</div>
	</div>
	<div class="field-row">
		<label class="account-form-label">Email</label>
		<div class="form-group">
			<input type="text" class="form-control input-common js-input-text">
			<div class="custom-tooltip">
				<div class="custom-tooltip-arrow"></div>
				<p class="error-text-wrap">* Required Field</p>
			</div>
		</div>
	</div>
	<div class="settings-form-btn">
		<button class="btn yellow-btn">Update Info</button>
	</div>
</form>
