<div class="contest-detail-modal modal fade" id="explore-contest">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
				<h1 class="modal-title">Beat the Contest, Get Rewarded!</h1>
				<p class="modal-subtitle">THE PERSON THAT GROWS THEIR PQ MOST AT MICROSOFT BY DEC. 29,2015 WILL WIN</p>
				<a class="contest-rules-link" href="#contest-rules" data-toggle="modal">See contest rules</a>
			</div>
			<div class="modal-body contest-detail-content">
				<div class="contest-modal-banner top-pq-growth-modal">
					<div class="contest-badge-wrap">
						<span class="ws-icon-top-pq-badge contest-badge-icon"></span>
					</div>
					<div class="contest-rewards-wrap">
						<h2>Most Improved 7-day PQ Score Gets:</h2>
						<h1>$20 Gift Card</h1>
						<div class="contest-status-wrap">
							<div class="contest-inner-widget">
								<p class="contest-status-label">CURRENT 7-DAY MOST IMPROVED PQ:</p>
								<p class="contest-status-value">+1,300 PQ</p>
								<p class="contest-status-label">(CHRIS TUCKER)</p>
							</div>
							<div class="contest-inner-widget">
								<p class="contest-status-label">YOUR 7-DAY PQ GROWTH:</p>
								<p class="contest-status-value">+100 PQ</p>
							</div>
						</div>
					</div>
				</div>
				<div class="contest-details-wrap">
					<div class="contest-btm-wrap">
						<p class="contest-btm-text">PLAY A FEW MINUTES A DAY TO WIN!</p>
						<a class="btn black-btn">GO TRAIN TO WIN</a><br>
						<a data-dismiss="modal" aria-label="Close" class="change-contest-link">Not right now, I'll come back later</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
