<div class="user-settings-modal user-types-modal modal fade" id="user-setting-help">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <a href="#" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
            <h4 class="modal-title">User Types</h4>
         </div>
         <div class="modal-body">
            <p class="modal-help-text"><span>Administrator Account</span> users can see company-level analytics and get full user controls.</p>
            <p class="modal-help-text"><span>Department Supervisors</span> can see all of their respective department's sub-team analytics.</p>
            <p class="modal-help-text"><span>Sub-Department Supervisors</span> only see their sub team's analytics.</p>
            <div class="modal-btn-group">
               <a href="#" data-dismiss="modal" aria-label="Close" class="btn black-btn">OKAY</a>
            </div>
         </div>
      </div>
   </div>
</div>
