<div class="user-settings-modal deleted-user-modal modal fade" id="user-deleted">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">User Succesfully Deleted!</h4>
         </div>
         <div class="modal-body modal-btn-group">
            <p class="confirmation-msg-wrap">If this was done in error, contact <a>help@work.style</a></p>
            <a href="#" data-dismiss="modal" aria-label="Close" class="btn black-btn">OKAY</a>
         </div>
      </div>
   </div>
</div>
