<%- contentFor('title') %>
| Email Recovery Template

<%- contentFor('email_head') %>
No password? No problem!

<%- contentFor('email_body') %>
Hi &lt;first name&gt;,<br/>
Forgotten passwords happen to the best of us – regardless of our Workstyle.<br/>
To reset yours, just click here:<br/>
<a href="#" style="color: #00919c;word-wrap:break-word;">https://my.work.style/reset-password-link</a>

<%- contentFor('bottom_wrap') %>
<td valign="top" width="495"  style="color: #00919c;font-size: 14px;line-height: 16px;text-align:left;word-break:break-all;">The Workstyle Team</td>
