<%- contentFor('title') %>
| Forget Email Template

<%- contentFor('email_head') %>
Your Workstyle password has been changed.

<%- contentFor('email_body') %>
Hi &lt;first name&gt;,<br/>
Your Workstyle password has just been changed. <br/>
If you initiated this change yourself, you don’t need to take any action.<br/>
If you did not intentionally change your password, please reset it now in order to restore your account’s security.<br/>
<a href="#" style="color: #00919c;word-wrap:break-word;">https://my.work.style/reset-password-link</a>

<%- contentFor('bottom_wrap') %>
<td valign="top" width="495"  style="color: #00919c;font-size: 14px;line-height: 16px;text-align:left;word-break:break-all;">The Workstyle Team</td>

