<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	landing_page_init();
    });
</script>

<%- contentFor('title') %>
| Register

<%- contentFor('body') %>
<div class="content landing-background login-background ws-register-wrap">
	<div class="container">
		<div class="register-wrap">
			<a class="logo-wrap" href="/"><img src="<%= asset('assets/images/register_page_logo.png') %>"></a>
			<div class="white-bg-box clearfix">
				<form class="register-form-wrap agreement-form-wrap">
					<span class="ws-icon-close-icon close-form-btn"></span>
					<h2>Workstyle Terms of Service Agreement</h2>
					<div class="agreement-content-wrap">
						<h3>Workstyle Terms of Service Agreement</h3>
						<div class="agreement-content">
							<p>
								Welcome to Workstyle, your online resource for building your team’s personality quotient. Workstyle is owned and operated by Mattersight Corporation (“us”, “our”, “we”, or “Mattersight”). We understand the importance of privacy and security and are committed to ensuring a fun, safe, and secure user experience. This Privacy Policy describes the types of personal information we may collect from you or that you may provide to us when you visit http://work.style (the “Website”), and how we collect, use, secure, and share information of our users and individuals whose payment details are used to pay for access to Workstyle (collectively, “you”). This Privacy Policy does not apply to any information collected by us offline, including through the provision of our other services or any other website or social media sites.
							</p>
							<p>
								By accessing or using Workstyle, you acknowledge that you have read this Privacy Policy and agree to comply with its terms. This Website is not intended for people under the legal age of consent or for people residing within the European Union, and this Website does not knowingly collect any personal information from such persons. IF YOU ARE NOT ABOVE THE LEGAL AGE OF CONSENT OR RESIDE IN THE EUROPEAN UNION, OR IF YOU DO NOT AGREE TO THIS PRIVACY POLICY, PLEASE DO NOT ACCESS OR USE OUR SERVICES.
							</p>
							<span>
								THE INFORMATION WE COLLECT
							</span>
							<span>
								WHERE WE KEEP YOUR INFORMATION
							</span>
							<span>
								HOW WE USE YOUR INFORMATION
							</span>
							<span>
								WHEN WE CAN SHARE YOUR INFORMATION
							</span>
							<span>
								CANCELLING YOUR MEMBERSHIP
							</span>
							<span>
								HOW WE KEEP YOUR INFORMATION SECURE
							</span>
							<span>
								COOKIES
							</span>
							<span>
								NOTICES TO CALIFORNIA RESIDENTS
							</span>
							<span>
								CHANGES TO THIS PRIVACY POLICY
							</span>
							<span>
								HOW TO CONTACT MATTERSIGHT WITH QUESTIONS
							</span>
							<p>
								By accessing or using Workstyle, you acknowledge that you have read this Privacy Policy and agree to comply with its terms. This Website is not intended for people under the legal age of consent or for people residing within the European Union, and this Website does not knowingly collect any personal information from such persons. IF YOU ARE NOT ABOVE THE LEGAL AGE OF CONSENT OR RESIDE IN THE EUROPEAN UNION, OR IF YOU DO NOT AGREE TO THIS PRIVACY POLICY, PLEASE DO NOT ACCESS OR USE OUR SERVICES.
							</p>
						</div>
					</div>
					<button class="btn white-btn">I AGREE TO THE TERMS OF SERVICE</button>
				</form>
			</div>
		</div>
		<p class="login-now-wrap">Already have an account? <a href="/ui-statics/login-page">Log in</a></p>
		<p class="copyright-text">&copy; Workstyle 2015</p>
	</div>
</div>
