<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	landing_page_init();
    });
</script>

<%- contentFor('title') %>
| Register

<%- contentFor('body') %>
<div class="content landing-background login-background ws-register-wrap">
	<div class="container">
		<div class="register-wrap">
			<a class="logo-wrap" href="/"><img src="<%= asset('assets/images/register_page_logo.png') %>"></a>
			<div class="white-bg-box clearfix">
				<form class="register-form-wrap">
					<h2>Register for Workstyle</h2>
					<div class="form-group js-input-group">
						<input type="text" class="form-control text-field-wrap js-input-text"  placeholder="First Name">
						<div class="custom-tooltip">
							<div class="custom-tooltip-arrow"></div>
							<p class="error-text-wrap">* Required Field</p>
						</div>
					</div>
					<div class="form-group js-input-group">
						<input type="text" class="form-control text-field-wrap js-input-text" placeholder="Last Name">
						<div class="custom-tooltip">
							<div class="custom-tooltip-arrow"></div>
							<p class="error-text-wrap">* Required Field</p>
						</div>
					</div>
					<div class="form-group js-input-group">
						<input type="text" class="form-control text-field-wrap js-input-text" placeholder="Position Title">
						<div class="custom-tooltip">
							<div class="custom-tooltip-arrow"></div>
							<p class="error-text-wrap">* Required Field</p>
						</div>
					</div>
					<div class="form-group js-input-group">
					    <input type="email" class="form-control text-field-wrap js-input-text" placeholder="Company Email">
					    <div class="custom-tooltip">
							<div class="custom-tooltip-arrow"></div>
							<p class="error-text-wrap">* Required Field</p>
						</div>
				    </div>
				    <div class="form-group js-input-group error-wrap">
						<input type="password" class="form-control text-field-wrap js-input-text" placeholder="New Password">
						<div class="custom-tooltip">
							<div class="custom-tooltip-arrow"></div>
							<p class="error-text-wrap">* Your password must contain 8-10 characters and a number.</p>
						</div>
					</div>
					<div class="form-group js-input-group">
						<input type="password" class="form-control text-field-wrap js-input-text" placeholder="Repeat New Password">
						<div class="custom-tooltip">
							<div class="custom-tooltip-arrow"></div>
							<p class="error-text-wrap">* Password Not Matched</p>
						</div>
					</div>
					<label class="checkbox-wrap">
						<input type="checkbox"/>
						<span>Stay logged in</span>
					</label>
					<button class="btn white-btn">REGISTER</button>
				</form>
			</div>
		</div>
		<p class="login-now-wrap">Already have an account? <a href="/ui-statics/login-page">Log in</a></p>
		<p class="copyright-text">&copy; Workstyle 2015</p>
	</div>
</div>
