<%- contentFor('title') %>
| Weekly Report Email

<%- contentFor('email_head') %>
<table border="0" cellpadding="0" cellspacing="0" style="text-align:center;">
	<tr>
		<td valign="top" style="font-size:14px;line-height:16px;color:#2A2D30;text-align:center;"><span style="color:#02919C;font-weight:bold;letter-spacing:0.4px;">Tina, </span>your weekly Workstyle performance report is here.</td>
	</tr>
	<tr>
        <td valign="top" height="24" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
    </tr>
    <tr>
		<td valign="top" style="font-size:19px;line-height:22px;color:#02919C;text-align:center;letter-spacing:0.5px;">Take a moment to play and catch up!</td>
	</tr>
	<tr>
        <td valign="top" height="28" width="495" style="font-size:0;line-height:0;border-bottom:1px solid #E6E7E8;">&nbsp;</td>
    </tr>
</table>

<%- contentFor('email_body') %>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top" height="14" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
	</tr>
	<tr>
		<td style="text-align:center;font-size:16px;line-height:18px;color:#EF4136;font-style:italic;letter-spacing:1px;">Are you doing better than most of your team?</td>
	</tr>
	<tr>
		<td valign="top" height="20" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top" style="background-color:#FCD9D6;">
			<table border="0" cellpadding="0" cellspacing="0" style="text-align:center;">
				<tr>
					<td valign="top" height="18" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" style="font-size:38px;line-height:40px;color:#EF4136;font-weight:bold;text-align:center;">NO!</td>
				</tr>
				<tr>
					<td valign="top" height="6" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" style="font-size:14px;line-height:16px;color:#EF4136;font-weight:500;text-align:center;letter-spacing:0.5px;">Your're doing below average. It's okay,</td>
				</tr>
				<tr>
					<td valign="top" style="font-size:14px;line-height:16px;color:#EF4136;font-weight:500;text-align:center;letter-spacing:0.5px;">take a short training break to catch up:)</td>
				</tr>
				<tr>
					<td valign="top" height="20" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
			</table>
    	</td>
    </tr>
	<tr>
		<td valign="top" style="background-color:#F1F2F2;">
			<table border="0" cellpadding="0" cellspacing="0" style="text-align:center;">
				<tr>
					<td valign="top" height="20" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
				<tr>
					<td valign="top" style="font-size:14px;line-height:16px;color:#00B2B6;font-weight:bold;text-align:center;letter-spacing:1px;">WEEKLY PROGRESS REPORT</td>
				</tr>
				<tr>
					<td valign="top" height="18" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
			</table>
		<td>
	</tr>
	<tr>
		<td valign="top" style="background-color:#02919C;">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top" height="14" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top" height="20" width="30" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="top" height="20" width="120" style="font-size:14px;line-height:16px;color:#FFF;font-weight:bold;text-align:center;">Your PQ Growth this week</td>
								<td valign="top" height="20" width="60" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="middle" height="20" width="80" style="font-size:16px;line-height:18px;color:#FFF;font-weight:bold;text-align:center;">Your PQ</td>
								<td valign="top" height="20" width="80" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="top" height="20" width="80" style="font-size:14px;line-height:16px;color:#FFF;font-weight:bold;text-align:center;">Your team's top scorer</td>
								<td valign="top" height="20" width="30" style="font-size:0;line-height:0;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top" height="6" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top" style="background-color:#00B2B6;">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top" height="12" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top" height="20" width="20" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="top" height="20" width="140" style="font-size:34px;line-height:47px;color:#FFF;font-weight:bold;text-align:center;">+0 PQ</td>
								<td valign="top" height="20" width="20" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="top" height="20" width="140" style="font-size:34px;line-height:47px;color:#FFF;font-weight:bold;text-align:center;">210</td>
								<td valign="top" height="20" width="20" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="top" height="20" width="140" style="font-size:34px;line-height:47px;color:#FFF;font-weight:bold;text-align:center;">3,100</td>
								<td valign="top" height="20" width="20" style="font-size:0;line-height:0;">&nbsp;</td>
							</tr>
							<tr>
								<td valign="top" height="30" width="20" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="top" height="20" width="140" style="font-size:14px;line-height:16px;color:#FFF;text-align:center;">Your best 7-day growth was 200PQ</td>
								<td valign="top" height="20" width="20" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="top" height="20" width="140" style="font-size:14px;line-height:16px;color:#FFF;text-align:center;">can you hit 500?</td>
								<td valign="top" height="20" width="20" style="font-size:0;line-height:0;">&nbsp;</td>
								<td valign="top" height="20" width="140" style="font-size:14px;line-height:16px;color:#FFF;text-align:center;">Chris <b>Christopherson</b></td>
								<td valign="top" height="20" width="20" style="font-size:0;line-height:0;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top" height="15" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<%- contentFor('bottom_wrap') %>
<td valign="top" width="495"  style="text-align:center;">
	<table border="0" cellpadding="0" cellspacing="0" style="text-align:center;">
		<tr>
            <td valign="top" height="32" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
        </tr>
		<tr>
			<td valign="top" style="text-align:center;font-size:14px;line-height:16px;letter-spacing:0.5px;">Take a 5 minute training break and catch up:</td>
		</tr>
		<tr>
            <td valign="top" height="10" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
        </tr>
		<tr>
			<td valign="top" style="text-align:center;"><a href="#" style="width: 220px;font-size: 15px;line-height: 16px; padding: 13px;background-color: #EDAA00;display:inline-block;border-radius:5px;color:#fff;text-align:center;text-decoration:none;"><b>Take a quick training break</b></a></td>
		</tr>
		<tr>
            <td valign="top" height="12" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
        </tr>
		<tr>
			<td valign="top" style="text-align:center;font-size:14px;line-height:16px;letter-spacing:0.3px;"><a href="#" style="color:#02919C;text-decoration:none;">Take me to my detailed stats</a></td>
		</tr>
		<tr>
            <td valign="top" height="24" width="495" style="font-size:0;line-height:0;">&nbsp;</td>
        </tr>
	</table>
	
</td>

