<%- contentFor('title') %>
| 500: Internal Server Error

<%- contentFor('body') %>
<div class="content error-page-wrap">
	<div class="container">
		<a href="/" class="logo-colored">
			<img src="<%= asset('assets/images/workstyle_logo_colored.png') %>">
		</a>
		<h2>500 internal servor error</h2>
		<p>Oops, looks like a neuron misfired.</p>
		<span>Please try again:)</span>
	</div>
</div>
