<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('body') %>
<div class="pdf-wrapper pdf-user-detail clearfix">
	<div class="pdf-user-detail-wrap cover-page-wrap">
		<img src="<%= asset('assets/images/workstyle_big_logo_dark.png') %>">
		<p class="report-user-desg">HANG YOUR WORKSTYLE HIERARCHY PAGE AT YOUR WORKSPACE SO OTHERS KNOW WHAT YOUR WORKSTYLE IS</p>
		<img src="<%= asset('assets/images/pq_dots.png') %>">
	</div>
</div>
