<%- contentFor('title') %>
| Site Under Maintenance

<%- contentFor('body') %>
<div class="content error-page-wrap">
	<div class="container">
		<a href="/" class="logo-colored">
			<img src="<%= asset('assets/images/workstyle_logo_colored.png') %>">
		</a>
		<p>Site Under Maintenance:(</p>
		<span>Please try again later:)</span>
	</div>
</div>
