<%- contentFor('title') %>
| PDF Report : Personality Matters

<%- contentFor('body') %>
<div class="pdf-wrapper pdf-user-detail clearfix">
	<div class="pdf-user-detail-wrap advisor-user-detail">
		<img src="<%= asset('assets/images/workstyle_big_logo_dark.png') %>">
		<p class="sub-logo-text">PERSONALITY MATTERS.</p>
		<img src="<%= asset('assets/images/pq_dots.png') %>">
		<p class="report-for-label">WORKSTYLE REPORT FOR</p>
		<h2 class="report-username">Miroslav Lysyuk</h2>
		<h4 class="report-user-desg">Product Manager</h4>
	</div>
</div>
