<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	(new CommonModule()).init();
    });
</script>

<%- contentFor('title') %>
| About Me : Doer

<%- contentFor('body') %>
<%- include _header %>
<div class="content pq-profile-view">
	<div class="banner-wrap doer-wrap">
		<div class="container">
			<span class="icon-wrap"></span>
			<p class="about-me-wrap">
				Jennifer Pinsker, 
				<span>Account Executive</span>
			</p>
			<p class="self-description-wrap">
				“I’m a Doer and my superpower is Resourcefulness.”
			</p>
			<p class="pq-desc-wrap">The Doer personality is one of six Workstyle personality types. They are typically adaptable, persuasive, and charming. The keys to successfully communicating in email and elsewhere with a Doer personality type include being direct, to the point, and energetic.</p>
			<p class="pq-desc-wrap">By taking these factors into account, you will increase your chances of succesfully connecting and communicating with a Doer personality type.</p>
			<a href="#" class="black-btn">LEARN MORE ABOUT WORKSTYLE</a>
			<p class="login-now-wrap">Already have an account? <a href="#">Log in</a></p>
		</div>
	</div>
</div>
