<%- contentFor('title') %>
| Print Report

<%- contentFor('email_head') %>
First Name, We've prepared a special workstyle report for you to print!

<%- contentFor('email_body') %>
You're special and we want you to know how. So we put together a short workstyle report just for you. It also includes a page for you to <b>print and hang at your desk so others know your workstyle.</b> Check it out!

<%- contentFor('bottom_wrap') %>
<td valign="top" width="495"  style="text-align:center;">
	<a href="#" style="width: 250px;font-size: 13px;line-height: 16px; padding: 12px;background-color: #EDAA00;display:inline-block;border-radius:5px;color:#fff;text-align:center;text-decoration:none;"><b>SEE YOUR PRINTABLE REPORT</b></a>
</td>
