<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
    	(new CommonModule()).init();
    });
</script>

<%- contentFor('title') %>
| About Me : Organizer

<%- contentFor('body') %>
<%- include _header %>
<div class="content pq-profile-view">
	<div class="banner-wrap organizer-wrap">
		<div class="container">
			<span class="icon-wrap"></span>
			<p class="about-me-wrap">
				Jason Wesbecher,  
				<span>Chief Marketing Officer</span>
			</p>
			<p class="self-description-wrap">
				“I’m an Organizer and my superpower is Planning.”
			</p>
			<p class="pq-desc-wrap">The Organizer personality is one of six Workstyle personality types. They are typically adaptable, persuasive, and charming. The keys to successfully communicating in email and elsewhere with a Organizer personality type include being direct, to the point, and energetic.</p>
			<p class="pq-desc-wrap">By taking these factors into account, you will increase your chances of succesfully connecting and communicating with a Organizer personality type.</p>
			<a href="#" class="black-btn">LEARN MORE ABOUT WORKSTYLE</a>
			<p class="login-now-wrap">Already have an account? <a href="#">Log in</a></p>
		</div>
	</div>
</div>
