<%- contentFor('script') %>
<script type="text/javascript">
    (new policyModule()).init();
</script>

<%- contentFor('title') %>
| Terms and Conditions

<%- contentFor('body') %>
<div class="content">
    <div class="container">
        <div class="settings-tab-content">
            <div class="faq-tab-wrap">
                <h2 class="text-center">Workstyle Terms of Service Agreement</h2>
                <p>
                	Welcome to Workstyle, the newest product offered by Mattersight Corporation (“Mattersight”).  This Terms of Service Agreement (“Agreement”) provides the terms and conditions governing the use of Workstyle at the website <a href="#">http://work.style</a> (the “Site”). Before permitting any employees of your company to use Workstyle, please carefully readthe terms and conditions of this Agreement. Use of the word “you” in this Agreement refers to your company, not you individually. As stated in the notice below, only authorized representatives may enter into this Agreement on behalf of their company. 
                </p>
                <p><strong>NOTICE:</strong>  By clicking “I Agree” below, you agree that you are an authorized representative of your company, meaning that you are authorized to bind your company to the terms of this Agreement. Furthermore, you agree that the employees authorized to use Workstyle will do so only in a manner consistent with all applicable laws and regulations, and in accordance with all of the terms and conditions discussed below.  If you are not an authorized representative of your company, or if you do not agree with any of the terms and conditions in this Agreement, press “Cancel” below in order to terminate this agreement process. </p>
                <ol class="tnc-index-list js-topic-list">
                    <li><a href="#use">USER OBLIGATIONS</a></li>
                    <li><a href="#registration">SCOPE OF USE</a></li>
                    <li><a href="#rights">RETENTION OF RIGHTS BY MATTERSIGHT</a></li>
                    <li><a href="#representation">IN-APP REWARDS</a></li>
                    <li><a href="#privacy">NO COMMERCIAL EXPLOITATION</a></li>
                    <li><a href="#future-trans">PRIVACY</a></li>
                    <li><a href="#website-links">LIMITATION OF LIABILITY</a></li>
                    <li><a href="#no-warranties">LIMITED WARRANTY </a></li>
                    <li><a href="#liability">SUBSCRIPTION TERM, FEES AND PAYMENT </a></li>
                    <li><a href="#waiver">REFUND OR PAYMENT UPON TERMINATION</a></li>
                    <li><a href="#legal-terms">TERMINATION  </a></li>
                    <li><a href="#comments">GENERAL LEGAL TERMS</a></li>
                </ol>
                <ul class="faq-list-wrap">
                    <li class="faq-list-item" id="use">
                        <h4>1. USER OBLIGATIONS</h4>
                        <p>All Users will be required to acknowledge the Website Use Policy periodically upon entering Workstyle.  In the event any terms in the Website Use Policy conflict with the terms of this Agreement, the terms of this Agreement shall govern. You agree for, and on behalf of ,your company that your company shall not (i) make Workstyle available to any third party other than Users, (ii) sell, resell, rent, or lease Workstyle, (iii) use Workstyle to store or transmit infringing, libelous, or otherwise unlawful or tortious material, or to store or transmit material in violation of third-party privacy rights, (iv) interfere with or disrupt the integrity or performance of Workstyle or third-party data contained therein, or (vi) attempt to gain unauthorized access to Workstyle or the related systems or networks. </p>
                    </li>
                    <li class="faq-list-item" id="registration">
                        <h4>2. SCOPE OF USE</h4>
                        <p>Mattersight hereby grants you a nontransferable and nonexclusive right to use Workstyle through theTerm, as defined in the applicable Order Form (or such later date as mutually agreed by the parties), pursuant to these terms and the Website Use Policy.  You may not modify Workstyle in any way.  You may not copy, transfer, display, sublicense, rent, reverse engineer, decompile, or disassemble Workstyle. You may only use Workstyle in accordance with the terms of the Website Use Policy, any other terms applicable to the various features of Workstyle, and all applicable laws, rules, and regulations. In the event Mattersight believes that you have failed to comply with all terms applicable to your use of Workstyle, you agree that we have the right, in our sole discretion and without notice, to terminate this Agreement, deactivate access, and delete all information and files in the account.</p>
                    </li>
                    <li class="faq-list-item" id="rights">
                        <h4>3. Retention of Rights by Mattersight</h4>
                        <p>Mattersight retains all right, title, and interest in all intellectual property rights, including copyrights, trademarks, trade secrets, and trade names, in or related to Workstyle.  The copyright to Workstyle is protected by United States copyright laws.</p>
                    </li>
                    <li class="faq-list-item" id="representation">
                        <h4>4. In-App Rewards (Coming Soon)</h4>
                        <p>Mattersight may offer Users of Workstyle in-app rewards points that can be earned by a User for participation in qualifying activities (“Rewards”). These Rewards can be used to acquire items of nominal value from the Mattersight retail store. Unless otherwise agreed to, the eligible items are typically of less than $25 in cash value. Users would need to affirmatively select the Reward and can choose to decline to use the Rewards points. All Users are eligible for these Rewards, which are intended to aid in the interactive experience. If you have any questions about the Rewards program or wish to discuss a custom Rewards program, please contact your Mattersight sales representative prior to completing this sign-on process.  </p>
                    </li>
                    <li class="faq-list-item" id="privacy">
                        <h4>5. No Commercial Exploitation</h4>
                        <p>You may not commercially exploit Workstyle; this restriction does not apply, however, to any economic benefit you may derive from the use of Workstyle by your organization.  Neither you, nor anyone at your direction, may:  (a) rent, lease, or sell Workstyle; (b) distribute Workstyle for money or other consideration; or (c) in any manner or through any medium whatsoever commercially exploit Workstyle or use Workstyle for any commercial purposes, except as expressly permitted hereunder.</p>
                        <p>
                    </li>
                    <li class="faq-list-item" id="future-trans">
                        <h4>6. Privacy</h4>
                        <p>All personally identifiable and non-personally identifiable information provided by the Users or otherwise collected or derived by Workstyle is subject to our Privacy Policy, which is made available at <a href="#">http://work.style/privacy-policy/</a>.</p>
                    </li>
                    <li class="faq-list-item" id="website-links">
                        <h4>7. Limitation of Liability</h4>
                        <p>YOU AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL MATTERSIGHT, ITS LICENSORS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE TO YOU OR ANY THIRD-PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOST PROFITS OR LOSS OF GOODWILL, USE, OR DATA (EVEN IF MATTERSIGHT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), ARISING OUT OF OR IN CONNECTION WITH THE USE OF OR INABILITY TO USE WORKSTYLE OR ANY OTHER MATTER RELATING THERETO.  YOU WILL BE RESPONSIBLE FOR ALL CLAIMS AND DAMAGES RESULTING FROM THE MISUSE OF WORKSTYLE BY YOU. Some states do not allow the limitation of liability, so this provision may not apply to you.</p>
                    </li>
                    <li class="faq-list-item" id="no-warranties">
                        <h4>8. Limited Warranty </h4>
                        <p>WORKSTYLE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. MATTERSIGHT EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. BECAUSE WORKSTYLE IS PROVIDED TO YOU “AS IS,”  YOU AGREE THAT MATTERSIGHT SHALL NOT BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY DELAY IN DELIVERY OF, OR FAILURE TO DELIVER, WORKSTYLE OR ANY OF ITS FEATURES OR FUNCTIONS. BECAUSE WORKSTYLE IS PROVIDED TO YOU “AS AVAILABLE,” YOU AGREE THAT MATTERSIGHT SHALL NOT BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY MODIFICATION, SUSPENSION, OR DISCONTINUANCE OF WORKSTYLE OR OF YOUR ABILITY TO ACCESS IT. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, MATTERSIGHT ALSO DISCLAIMS ANY WARRANTY THAT WORKSTYLE WILL MEET YOUR REQUIREMENTS, OR THAT THE OPERATION OF WORKSTYLE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE.</p>
                    </li>
                    <li class="faq-list-item" id="liability">
                        <h4>9. Subscription Term, Fees, and Payment </h4>
                        <p>The Term of each subscription shall be as provided for under the applicable Order Form. Except as otherwise specified in an Order Form, subscriptions will automatically renew for additional periods equal to the expiring Term or one year (whichever is shorter), unless either party gives the other notice of non-renewal at least thirty (30) days before the end of the then-current Term. The initial Term and each renewal Term shall be collectively referred to as the “Term”.  On not less than sixty (60) days’ written notice prior to the end of the then-current Term, such notice may be posted within Workstyle, Mattersight may increase the per- unit pricing; provided that, no such increase shall exceed five percent (5%) of the preceding year’s per-unit pricing. Unless otherwise provided for under the applicable Order Form, Client will be responsible for all taxes associated with access to Workstyle, other than income- and employment-related taxes of Mattersight and its personnel. Unless otherwise provided for in an Order Form, fees will be invoiced in advance and otherwise in accordance with the Order Form and are due net 30 days from the invoice date. </p>
                    </li>
                    <li class="faq-list-item" id="waiver">
                        <h4>10. REFUND OR PAYMENT UPON TERMINATION (Coming Soon)</h4>
                    </li>
                    <li class="faq-list-item" id="legal-terms">
                        <h4>11. Termination  </h4>
                        <p>A party may terminate this Agreement for cause (i) upon thirty (30) days’ written notice to the other party of a material breach if such breach remains uncured at the expiration of such period, or (ii) if the other party becomes the subject of a petition in bankruptcy or any other proceeding relating to insolvency, receivership, liquidation or assignment for the benefit of creditor.  </p>
                    </li>
                    <li class="faq-list-item" id="comments">
                        <h4>12. General</h4>
                        <ol class="tnc-list roman-list">
							<li><p><strong>Entire Agreement; Order of Precedence</strong>  These terms constitute the entire agreement between the parties with respect to the subject matter contained herein. No modification, amendment, or waiver of any provision of this Agreement will be effective unless in writing and signed by the party against whom the modification, amendment or waiver is to be asserted. The parties agree that any term or condition stated in your purchase order or in any other of your order documentation (excluding Order Forms) is void. In the event of any conflict or inconsistency among the following documents, the order of precedence shall be: (1) the applicable Order Form, and (2) this Terms of Service Agreement.</li></p>  
							<li><p><strong>Survival</strong> The Sections titled Section 3 (Retention of Rights by Mattersight) and Section 11 (General) will survive any termination or expiration of this Agreement. </li></p>  
							<li><p><strong>Waiver</strong> If Mattersight fails to insist upon strict performance of your obligations under any of these terms and conditions, or if Mattersight fails to exercise any of the rights or remedies to which it is entitled hereunder, this will not constitute a waiver of such rights or remedies and will not relieve you from compliance with such obligations. No waiver by Mattersight of any default will constitute a waiver of any subsequent default, and no waiver by Mattersight of any of these terms and conditions will be effective unless it is expressly stated to be a waiver and is communicated to you in writing.  </li></p>
							<li><p><strong>Governing Law</strong>  You agree that this Agreement describes the entire agreement between us with respect to its subject matter. Workstyle was created and is operated under the laws of the State of Illinois. This Agreement will be governed by and construed under the laws of the State of Illinois, without regard toconflict of law principles.  You hereby agree and accept that any legal action or proceeding shall be brought in the federal or state courts for the Cook County, Illinois, and you expressly waive any objection to personal jurisdiction, venue, or forum non conveniens. If any provision of this Agreement, or the application thereof to particular circumstances, is found by a court of competent jurisdiction to be invalid, illegal, or otherwise unenforceable, such provision shall be changed and interpreted so as to best accomplish the objectives of the original provision to the fullest extent allowed by law and the remaining provisions of this Agreement will remain in full force and effect. YOU AGREE THAT REGARDLESS OF ANY APPLICABLE LAW TO THE CONTRARY, YOU CANNOT FILE A CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATED TO THIS AGREEMENT, WORKSTYLE OR THE SITE MORE THAN ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION AROSE.</li></p>
                        </ol>
                    </li>
                </ul>
                <p class="agree-term-text">
                	BY CLICKING “I AGREE”, YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT, ARE AUTHORIZED TO BIND YOUR COMPANY, AND UNDERSTAND AND AGREE THAT YOUR COMPANY WILL BE BOUND BY ITS TERMS AND CONDITIONS. 
                </p>
                <div class="agree-btn-wrap">
                	<button class="btn white-btn" id="accept_agreement">I AGREE</button>
                	<button class="btn white-btn" id="cancel_agreement">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
</div>
