<form class="search-team-wrap js_search_form">
    <input type="text" class="search-input-wrap js_search_box" placeholder="Search by name, email, or position...">
    <button class="search-btn"><i class="ws-icon-search"></i></button>
</form>