<div class="modal fade quiz-help-modal <%- skillWrapperClass %>" id="quiz-help" tabindex="-1" role="dialog" data-backdrop="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="question-wrap">
				<div class="question-box white-box">
					<div class="quiz-help-wrap">
						<h2 class="ques-box-head">How do I play?</h2>
						<p class="play-tip">Easy! Click on the answer choice you think is right.</p>
						<div class="white-divider"></div>
						<p class="play-desc">Each quiz consists of 5 questions and covers a workstyle type and key PQ skill in each question.</p>
						<p class="play-desc">Learn the key skills to identify, understand, and connect with others to score PQ points and power up through knowledge levels to show off to co-workers in your email badge!</p>
						<p class="play-desc">Have other questions? Check out the Help section!</p>
						<a class="white-btn" data-dismiss="modal" aria-label="Close">Got it!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
