<p>Hmm...we didn't find anything matching your search!</p>
<a href="<%= url('userSettings.index') %>" class="black-btn"><i class="ws-icon-left"></i>Go Back</a><br>
<a href="<%= url('settings.invite') %>" class="invite-link-wrap">Or
    invite a coworker!</a>
