<div class="invite-tab-wrap clearfix hide js_department_subdivision_page">
    <div class="add-department-wrap add-subdivision-wrap">
        <h3 class="invite-head"><span>Step 2 of 3</span> Add Department Subdivisions <a href="#" class="invite-help-icon" data-toggle="modal" data-target="#invite-help">?</a></h3>
        <p class="send-invite-title">Below are the general departments you've created.You can now add regional, or specification sub-divisions to each to add analytics granularity.</p>
        <form id="add-sub-department-form">
            <div class="add-text-wrap js_sample_department_division_set hide" data-parent>
                <h4 class="subdivision-title js_parent_department_heading"></h4>
                <div class="form-group active js_active_sub_department js_new_sub_department_div"><input type="text" class="form-control js_new_sub_department_field" placeholder="+ Click to add department"><a class="cancel-input js_remove_department_anchor">X</a></div>
            </div>
            <div class="btm-btn-wrap">
                <a class="btn yellow-btn yellow-white-btn js_to_department_setup_step_1" href="#">BACK</a>
                <button class="btn yellow-btn">NEXT</button>
            </div>
        </form>
    </div>
</div>
