<div class="invite-wrap" id="start-department-settings-section">
    <h3 class="invite-head">Employee Invite Setup</h3>

    <p class="send-invite-title">LET'S SETUP YOUR COMPANY BEFORE SENDING INVITES</p>
    <button type='button' class="btn yellow-btn js_start_department_setup js_to_department_setup_step_1">GET STARTED</button>
</div>
