<div class="setting-banner-wrap dreamer-settings clearfix">
    <div class="container">
	    <h2><%= user.get('first_name') %> <%= user.get('last_name') %> <span>Profile</span></h2>
	    <a href="mailto:<%= contactUS %>" class="btn white-round-btn">Contact us</a>
	    <p>Need help with something? </p>
    </div>
</div>
