<div class="explore-nav-wrap">
	<ul class="container explore-nav-list">
		<li>
			<a class="explore-nav-tab predictor-tab<% if (locals.predictor_page) { %> active<% } %>" href="<%= url('explore.personalityPredictor') %>">Personality Predictor</a>
		</li>
	</ul>
</div>
