<%- contentFor('script') %>
<script type="text/javascript">    
    (new policyModule()).init();
</script>

<%- contentFor('title') %>
| Privacy Policy

<%- contentFor('body') %>
<div class="content">
    <div class="container">
        <div class="settings-tab-content">
            <div class="faq-tab-wrap">
                <h2>PRIVACY POLICY</h2>
                <p class="tnc-date">Last updated: September 30, 2015</p>
                <p>
                    Welcome to Workstyle, your online resource for building your team’s personality quotient. Workstyle is owned and operated by Mattersight Corporation (“<strong>us</strong>”, “<strong>our</strong>”, “<strong>we</strong>”, or “<strong>Mattersight</strong>”). We understand the importance of privacy and security and are committed to ensuring a fun, safe, and secure user experience.  This Privacy Policy describes the types of personal information we may collect from you or that you may provide to us when you visit <a href="http://work.style">http://work.style</a> (the “<strong>Website</strong>”), and how we collect, use, secure, and share information of our users and individuals whose payment details are used to pay for access to Workstyle (collectively, “<strong>you</strong>”). This Privacy Policy does not apply to any information collected by us offline, including through the provision of our other services or any other website or social media sites.
                </p>
                <p>
                    By accessing or using Workstyle, you acknowledge that you have read this Privacy Policy and agree to comply with its terms. This Website is not intended for people under the legal age of consent or for people residing within the European Union, and this Website does not knowingly collect any personal information from such persons. IF YOU ARE NOT ABOVE THE LEGAL AGE OF CONSENT OR RESIDE IN THE EUROPEAN UNION, OR IF YOU DO NOT AGREE TO THIS PRIVACY POLICY, PLEASE DO NOT ACCESS OR USE OUR SERVICES. 
                </p>
                <ol class="tnc-index-list js-topic-list">
                    <li><a href="#collect-info">The information we collect</a></li>
                    <li><a href="#keep-info">Where we keep your information</a></li>
                    <li><a href="#use-info">How we use your information</a></li>
                    <li><a href="#share-info">When we can share your information</a></li>
                    <li><a href="#cancel-membership">Changing or deleting your personally identifiable information; Cancelling your membership</a></li>
                    <li><a href="#secure-info">How we keep your information secure</a></li>
                    <li><a href="#cookies">Cookies</a></li>
                    <li><a href="#notice">Notices to California residents</a></li>
                    <li><a href="#changes">Changes to this Privacy Policy</a></li>
                    <li><a href="#contact">How to contact Mattersight with questions</a></li>
                </ol>
                <ul class="faq-list-wrap">
                    <li class="faq-list-item" id="collect-info">
                        <h4>1. The information we collect</h4>
                        <p>
                            We collect information about visitors and/or users of Workstyle, either actively, when you provide it to us, or passively, as you surf the Website. This information falls generally into one of two categories:
                        </p>
                        <div class="policy-sublist">
                            <div>
                                <h5>(a) Personally Identifiable Information</h5>
                                <p>This is information from which you may be personally identified, such as your name, phone number, or email address. We collect and process this type of information when you register to use Workstyle or send us a communication. We may also collect your Internet Protocol (IP) address, which we use to diagnose problems with our servers and software, to administer the Website, and to gather demographic information. </p>
                                <p>We do not collect more Personally Identifiable Information than is reasonably necessary to use Workstyle. </p>
                            </div>
                            <div>
                                <h5>(b) Non-Personally Identifiable Information</h5>
                                <p>We may also collect information from which you cannot be personally identified, such as the information collected by cookies (see <a href="#cookies">Cookies</a> for more information).  Cookies automatically gather information about the areas you visit on the Website and operational information about the technology you use, such as your browser, type of computer, operating systems, and Internet service providers. We collect this information to understand which areas of the Website are most popular, which areas may require updating or improvement, and what technologies our visitors are using. We also use this information for security purposes, such as to assist us in detecting and blocking security breaches.  In addition, we collect the personality type assigned to you based on the results of the personality assessments you take on our Website. </p>
                            </div>
                        </div>
                    </li>
                    <li class="faq-list-item" id="keep-info">
                        <h4>2. Where we keep your information</h4>
                        <p>The information that we collect from you will be sent to and maintained at a secure facility in the United States of America. Our employees and contractors may process your information in order to fulfill your registration request or for any of the purposes described in this Privacy Policy (see <a href="#use-info">How we use your information</a>). By providing your personal information, you agree that your information may be sent, maintained, and processed as described in this Privacy Policy. Mattersight will take all steps reasonably necessary to ensure that your information is treated securely and in accordance with this Privacy Policy.</p>
                    </li>
                    <li class="faq-list-item" id="use-info">
                        <h4>3. How we use your information</h4>
                        <p>If you are a user of Workstyle, we may use the information we have collected about you, whether Personally Identifiable or Non-Personally Identifiable, in any of the following ways:</p>
                        <ul class="tnc-list disc-list">
                            <li>
                                <p>To ensure that Workstyle’s content is presented in the most effective manner for you and for your computer;</p>
                            </li>
                            <li>
                                <p>To provide you with information, products, or services that you request from us or that we think might interest you;</p>
                            </li>
                            <li>
                                <p>To comply with any contracts entered into between you and us, such as for authenticating your identity, and for billing and collection;</p>
                            </li>
                            <li>
                                <p>To notify you about changes to Workstyle;</p>
                            </li>
                            <li>
                                <p>To protect our intellectual property rights; and</p>
                            </li>
                            <li>
                                <p>To create Non-Personally Identifiable and/or aggregated data, if not already provided to us in such form, which we will use to improve, create, manage, and deliver Mattersight products and services.</p>
                            </li>
                            <li>
                                <p>We will only share your Personally Identifiable or Non-Personally Identifiable information with third parties as described in Section 4 below.</p>
                            </li>
                        </ul>
                        <p>However, if you are not a user but are only visiting Workstyle and submit a request through <a href="mailto:help@work.style">help@work.style</a>, we will only use your Personally Identifiable information to fulfill your request and will delete it afterward, except to the extent provided for under Section 4.</p>
                    </li>
                    <li class="faq-list-item" id="share-info">
                        <h4>4. When we can share your information</h4>
                        <p>We will share the information we collect from you with third parties only as described in this Privacy Policy. We will not sell, trade, license, or disclose your information to anyone except as described below or elsewhere in this Privacy Policy:</p>
                        <div class="tnc-list">
                            <p>(a) We will disclose Personally Identifiable Information in the following circumstances: (i) if it is required by law enforcement or judicial authorities, or to cooperate with a legal investigation; (ii) if we have a good faith belief that the disclosure is required or permitted by law or legal process; (iii) to protect the rights, reputation, property, or safety of Mattersight or others; (iv) to defend or enforce our rights or your obligations under any contracts or agreements between us, including this Privacy Policy and our Website Use Policy; (v) if the disclosure is required by mandatory professional standards; or (vi) if we have your prior consent to do so. </p>
                            <p>(b) In the event that Mattersight spins off Workstyle, or sells all or part of its stock or assets in a merger or other corporate transaction, we reserve the right to include the information we collect from you among the assets transferred to the acquiring or surviving company.</p>
                            <p>(c) We may provide Non-Personally Identifiable Information, including aggregate data, about our customers’ purchases, traffic patterns, and related Website information to third-party advertisers.</p>
                        </ul>
                    </li>
                    <li class="faq-list-item" id="cancel-membership">
                        <h4>5. Changing or deleting your personally identifiable information; Cancelling your membership</h4>
                        <p>You may change any of your Personally Identifiable Information by logging into “My Account” and following the prompts there for changing your information. Additionally, if you wish to cancel your membership, you may do so by logging into “My Account” and following the prompts there for cancellation.</p>
                        <p>You may also request to view, edit, or delete your Personally Identifiable Information or to change your communication preferences by emailing us at <a href="mailto:help@work.style">help@work.style</a>. Please include your name, address, and phone number when you contact us. We will respond to your request within 30 days.</p>
                        <p>Note that if you do request to have the information associated with your membership account deleted, we may retain and use your information as long as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. In addition, it may be impossible to completely delete your information without some residual information remaining due to our backup policies and procedures.</p>
                    </li>
                    <li class="faq-list-item" id="secure-info">
                        <h4>6. How we keep your information secure</h4>
                        <p>The Website is hosted by Parse LLC.  Information regarding the security Parse uses for the websites it hosts is available on Parse’s corporate website at <a target="_blank" href="https://parse.com/about/security">https://parse.com/about/security</a>.  With regard to the information we collect from you, all collected information is maintained on systems designed and configured consistent with security best practices.  </p>
                        <p>Note that we cannot be held accountable for activity that results from your failure to protect the secrecy of your User ID and password. Please promptly notify us at <a href="mailto:help@work.style">help@work.style</a> if you suspect that your user ID or password has been compromised. You can also change your user ID and password by accessing “My Account” and following the prompts there.</p>
                        <p>Unfortunately, regardless of the security measures we employ, the transmission of information over the Internet can never be 100% secure. As a result, while we strive to protect your Personally Identifiable Information, you acknowledge that: (a) there are security and privacy limitations inherent in the use of the Internet and these are outside of our control; (b) the security, integrity, and privacy of the information exchanged between you and us through the Website cannot be guaranteed and we shall have no liability to you or any third party for loss, misuse, disclosure, or alteration of such information; and (c) any such information may be viewed or altered in transit by a third party.</p>
                        <p>In the unlikely event that we believe that the security of your Personally Identifiable Information in our control may have been compromised, we will notify you as promptly as possible under the circumstances. We will notify you by e-mail, unless you have chosen an alternative communication preference. You can always change your communication preferences by logging into “My Account” and following the prompts there.</p>
                    </li>
                    <li class="faq-list-item" id="cookies">
                        <h4>7. Cookies</h4>
                        <p>Workstyle uses cookies in order to facilitate and customize your use of the Website. A cookie is a small data text file that websites store on your computer to identify you as a previous visitor to the Website.</p>
                        <p>Our cookies store randomly assigned user identification numbers, the country where you are located, and your first name to welcome you back to our Website. The cookies make your use of the Website easier, make the Website run more efficiently, and to keep you logged in, so that you do not have to re-enter your login information each time that you visit the Website.</p>
                        <p>You can disable or delete cookies using your browser settings. Cookies are generally easy to disable and/or delete but how you do so varies based on the particular web browser you are using. If you do disable cookies, our Website will not recognize you and you may not have access to all portions of the Website.</p>
                    </li>
                    <li class="faq-list-item" id="notice">
                        <h4>8. Notices to California residents</h4>
                        <p>If you are a resident of the State of California resident and have provided us with Personally Identifiable Information, California law gives you the right to request and receive from us, once per calendar year, information regarding how we have shared your Personally Identifiable Information with third parties for their direct marketing purposes.  If applicable, such information would include a list of names and addresses of all third parties with whom we shared such information during the prior calendar year, as well as a list of the categories of Personally Identifiable Information shared. To make such a request, contact us at <a href="mailto:legal@mattersight.com">legal@mattersight.com</a> and include the phrase “California Privacy Request” in the subject line. Your request must also include your name, mailing address, and email address. We will respond to your request within 30 days or as otherwise required by applicable law.</p>
                        <p>Note, we will not share your Personally Identifiable Information with third parties for their marketing purposes without obtaining your prior consent. If you have granted us permission, such third parties’ use of your Personally Identifiable Information will be subject to their privacy policies. You should contact those entities directly regarding any communications you may receive from them, including to request a change to your communication preferences.</p>
                    </li>
                    <li class="faq-list-item" id="changes">
                        <h4>9. Changes to this Privacy Policy</h4>
                        <p>We will post any changes Privacy Policy on this page and will update the Effective Date of this policy on the top of this page.  If we make material changes to how we treat our users’ information, we will send a notice to the email address associated with your account notify.  For this reason, it is important that you always provide us with a current functioning e-mail address for you, and for periodically visiting this Privacy Policy to check for any changes. <span>Your continued use of the Website after any changes have been posted will be considered your acknowledgment of, and agreement to abide and be bound by, the updated Privacy Policy.</span></p>
                    </li>
                    <li class="faq-list-item" id="contact">
                        <h4>10. How to contact Mattersight with questions</h4>
                        <p>If you have any questions, comments, or complaints about this Privacy Policy or about any personal information pertaining to you that was collected through this Website, you may contact Mattersight’s General Counsel at <a href="mailto: legal@mattersight.com">legal@mattersight.com</a>.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
