<div class="rewards-notify-banner js_rewards_banner" data-contest_id="<%= contest.id %>" style="display:none">
	<div class="container">
		<p class="contest-banner-text">Win <span><%= contest.get('award') || 'prize' %></span> for having the highest PQ at your company <%= (typeof formatedLongDate ===  "string")? ('by ' + formatedLongDate) : '' %>!</p>
		<div class="pull-right banner-right-section">
			<a href="#explore-contest" class="btn js_show_contest_modal" data-toggle="modal">FIND OUT MORE</a>
			<a href="#" class="ws-icon-close-icon dismiss-banner js_dismiss_banner"></a>
		</div>
	</div>
</div>
