<div class="contest-rules-modal modal fade" id="contest-rules">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
			</div>
			<div class="modal-body contest-detail-content">
				<div class="settings-tab-content contest-rules-wrap">
		            <div class="faq-tab-wrap">
		                <h1>Contest Rules</h1>
		                <ul class="faq-list-wrap">
		                    <li class="faq-list-item" id="use-info">
		                        <h4>HOW TO WIN!</h4>
		                        <ul class="tnc-list">
		                            <li>&gt; No purchase on the part of the User is necessary.</li>
		                            <li>&gt; To participate, Users must accumulate points by correctly answering Workstyle quests & quizzes. The contest prize may be awarded for the highest point (PQ) total or most improved scores (PQ gained) OR OTHER CRITERIA as specified, during the designated time periods, all as indicated at the beginning of the particular contest.</li>
		                            <li>The exact number of potential prize winners will be advertised at the beginning of the contest. Each User will have an opportunity to win contests at any given time based on their personal point accumulation.</li>
		                            <li>&gt; Workstyle may, on occasion, substitute gift cards with non-monetary prizes (e.g., lunch with an executive at your company, an extra break, etc.). This too will be advertised at the beginning of the contest.</li>
		                            <li>&gt; The Workstyle system is the official clock for entry.</li>
		                            <li>&gt; The contest is only open to your company's authorized Workstyle Users.</li>
		                        </ul>
		                    </li>
		                    <li class="faq-list-item" id="collect-info">
		                        <h4>Estimated Prize Value</h4>
		                        <p>
		                            Prize values will be announced at the beginning of the contest. The gift cards will be subject to the terms and conditions as set forth by the issuer of the gift cards. Gift cards are not refundable or transferable, and may not be substituted or exchanged for cash or credit at any time, nor will gift cards be replaced if lost or stolen. Payments of any applicable state, federal, or local taxes, if any, are solely the responsibility of the User. 
		                        </p>
		                    </li>
		                    <li class="faq-list-item" id="keep-info">
		                        <h4>Eligibility </h4>
		                        <p>Prizes are only available to current Users. In the event you become disabled or suspended as a User during the Contest, you will not be eligible to win a prize. Any use of robotic, automatic, programmed or like entry methods will void all entries affected by such methods and be deemed tampering.</p>
		                    </li>
		                    <li class="faq-list-item" id="use-info">
		                        <h4>Conditions</h4>
		                        <ul class="tnc-list disc-list">
		                            <li>&gt; Users are responsible for adhering to all applicable employer policies, including any wage, leave or work hour requirements. If you have questions, please speak with your manager before proceeding.</li>
		                            <li>&gt; Workstyle is not responsible for lost, interrupted or unavailable network, server or other connections, miscommunications, failed telephone or computer hardware or software or other technical failures, unauthorized human intervention, garbled or jumbled transmissions or other errors of any kind, whether human, mechanical or electronic, including without limitation, the incorrect or inaccurate capture of response information, regardless of cause.</li>
		                            <li>&gt; Workstyle reserves the right, at its sole discretion, to cancel/suspend/modify this Contest in whole or in part for any reason, including without limitation, if the Contest cannot be conducted as originally planned. In case of dispute as to identity of a winner who entered online, entry will be declared made by the registered user of the e-mail account, and, if a prize is won and such registered user is a valid User, the prize will be awarded to the registered user. Workstyle is not responsible for posting, printing, distribution, or production errors and may rescind, cancel or revoke the Contest or drawing based upon any such error without liability at its sole discretion. Workstyle will not be responsible to award prizes in excess of the number (or value amounts) of prizes listed in these Official Rules. If a prize becomes unavailable, Workstyle reserves the right to substitute a prize of equal or greater value. No prize transfers, substitutions or cash equivalents except at the sole discretion of Workstyle. Workstyle reserves the right, in its sole discretion, to disqualify any entry at any time in the event it is determined that the User has not complied with these Official Rules.</li>
		                            <li>&gt; Users, by participating in this Contest, hereby waive, release, discharge, indemnify and hold harmless Workstyle, Prize Provider and their respective parents, subsidiaries, affiliates, distributors, licensors, advertising and promotion agencies and all of their respective officers, directors, employees and representatives and agents (the Released Parties), from and against, any and all liability, rights, loss, injury, damage, claims and causes of action whatsoever to User or any other person or entity or which may arise, including without limitation, infringement or violation or third party rights, injury or death to User or any other person or damage to personal or real property, loss, damage, whether direct, compensatory, incidental or consequential, arising in whole or in part, directly or indirectly, by reason of (a) the acceptance, possession, use or misuse of any prize; (b) participation in this Contest; (c) any element of this Content; (d) the use of any Entry as permitted in these Official Rules; (e) the exploitation of any of the rights granted herein or (f) any prize-related or Contest-related activity.</li>
		                            <li>&gt; Unless otherwise prohibited by applicable law, each User agrees that (1) any and all disputes, claims and causes of action arising in connection with this Contest and contest, or any prizes awarded, shall be resolved individually and without any resort to any form of class action, and any judicial proceedings shall take place in the state or federal courts within the State of Illinois; (2) any and all claims, judgments, or awards shall be limited to actual out-of pocket costs incurred, including costs associated with entering this Contest, but in no event attorneys fees; and (3) under no circumstances will any User be permitted to obtain awards for, and each User hereby waives all rights to, any punitive, incidental and consequential damages, and any other damages other than the actual out-of-pocket costs incurred.</li>
		                            <li>&gt; All issues and questions concerning the construction, validity, interpretation and enforceability of these rules of the rights of the User in connection with this Contest, shall be governed by, and construed in accordance with laws of the State of Illinois, without giving effect to its principles of conflicts of laws.</li>
		                        </ul>
		                        <p class="rules-btm-text">Information collected from Users is subject to the <a href="<%= url('user.privacyPolicy') %>">Workstyle Privacy Policy</a>.</p>
		                    </li>
		                </ul>
		            </div>
		        </div>
			</div>
		</div>
	</div>
</div>
