<div class="user-settings-modal start-contest-modal modal fade" id="end-contest-confirmation">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <a href="#" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
            <h4 class="modal-title">Confirm Contest Cancelation</h4>
         </div>
         <div class="modal-body">
            <h6 class="contest-confirm-title">YOU ARE ABOUT TO CANCEL A COMPANY-WIDE CONTEST WITH THE FOLLOWING DETAILS:</h6>
            <div class="contest-details-wrap">
               <div class="modal-contest-field contest-company-field">
                  <h3>Company: </h3>
                  <p class="contest-field-value js_company_name_section"> </p>
               </div>
               <div class="modal-contest-field contest-reward-field">
                  <h3 class="js_contest_text_section"></h3>
                  <p class="contest-field-value js_award_detail_section"></p>
               </div>
               <div class="modal-contest-field">
                  <h3>Contest Ends:</h3>
                  <p class="contest-field-value js_contest_end_date_section"></p>
               </div>
               <div class="contest-btm-wrap">
                  <p class="contest-btm-text">CANCEL CONTEST?</p>
                  <a class="btn yellow-btn js_end_contest_confirm" id="js-canceled-btn">CANCEL CONTEST</a><br>
                  <a class="change-contest-link" data-dismiss="modal">Hold on, I changed my mind about something</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
