<div class="user-settings-modal deleted-user-modal print-report-modal modal fade" id="print-report-modal">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <a href="" class="ws-icon-close-icon close" data-dismiss="modal" aria-label="Close"></a>
         </div>
         <div class="modal-body">
            <p class="hint-text-wrp">Show Your Workstyle to the World</p>
            <p class="hint-sm-text">Don’t hide that amazing style! Your report includes a custom profile to hang in your workspace, so that everyone can see what you’re all about.</p>
            <p class="hint-sm-text"">Print it. Post it. Show your #stylepride.</p>
            <a href="#" class="btn yellow-btn">SHOW ME MY REPORT!</a>
         </div>
      </div>
   </div>
</div>
