<html>
    <head>
        <title>Work Style
            <%- title %>
        </title>
    </head>
<body style="margin:0;padding:0;">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background: #dddddd; background-color: #dddddd; height:100% !important; margin:0; padding:0; width:100% !important; font-family:Arial, Helvetica, sans-serif;">
            <tr>
                <td valign="top" align="center" style="color: #393937;">
                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                        <tr>
                            <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;">
                                    <tr>
                                        <td valign="top" style="border:0;margin:0;">
                                            <a href="#" style="display:inline-block;text-decoration:none;">
                                                <img width="600" height="90" src="<%= baseUrl + '/assets/images/email_header.png' %>">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height='32' width="600" style="font-size:0;line-height:0;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="600">
                                            <table width="600" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="top" height='12' width='59' style="font-size:0;line-height:0;margin:0;">&nbsp;</td>
                                                    <td valign="top" width='495' style="color: #00919c;font-size: 20px;line-height: 22px;text-align:left;width:495px;word-break:break-word;letter-spacing:0.3px;">
                                                        <%- email_head %>
                                                    </td>
                                                    <td valign="top" height='12' width='46' style="font-size:0;line-height:0;">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height='20' width='600' style="font-size:0;line-height:0;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" >
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="top" height='20' width='59' style="font-size:0;line-height:0;">&nbsp;</td>
                                                    <td valign="top" width='495' style="color: #333333;font-size: 14px;line-height: 30px;text-align:left;width:495px;word-break:break-word;">
                                                        <%- email_body %>
                                                    </td>
                                                    <td valign="top"height='20' width='46' style="font-size:0;line-height:0;">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height="28" width="600" style="font-size:0;line-height:0;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" >
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="top" height='20' width='55'>&nbsp;</td>
                                                    <td valign="top"  style="color: #00919c;font-size: 14px;line-height: 16px;text-align:left;word-break:break-word;">The Workstyle Team</td>
                                                    <td valign="top" height='20' width='50'>&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" height='36' width='600'>&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" style="background:#e6e6e6;background-color:#e6e6e6;">
                                    <tr>
                                        <td valign="top" height='25' width='600'>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" >
                                            <table border="0" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td valign="top" width='65' height='50' >&nbsp;</td>
                                                    <td valign="top"  valign="top" width='505' align="center" style="color: #808080;font-size: 9px;line-height: 19px;text-align:left;letter-spacing:-0.1px;word-break:break-word;">
                                                        &copy; 2015 Workstyle PQ. All rights reserved.<br/>

                                                        To ensure future delivery of email, please add Start@workstyle.com to your address book, contacts, or safe sender list.<br/>

                                                        PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact Adobe, visit the web at www.mattersight.com or call 800-833-6687. <br/>

                                                        This is a marketing email from Mattersight, 200 W. Madison St., Chicago, IL 60606 USA. Click here to <a href="%%unsubscribe%%" style="color: #808080;">unsubscribe</a>.<br/>

                                                        Your privacy is important to us. Please review Workstyle's policy.
                                                    </td>
                                                    <td valign="top"  width='30' height='50'>&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top"  width='600' height='25'>&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>
