<div class="modal fade quiz-help-modal invite-help-modal" id="invite-help" tabindex="-1" role="dialog" data-backdrop="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="question-wrap">
				<div class="question-box">
					<div class="quiz-help-wrap">
						<h2 class="ques-box-head">Adding Department</h2>
						<p class="play-tip">Add department names that will get invited to workstyle. This will allow employee to select which team they belong to during registration and admins to select which workstyle trainings they have access to. Employees will also be able to see their team's workstyle stats- so consider adding regional granularity.</p>
						<div class="white-divider"></div>
						<ul class="example-list-wrap">
							<li>Example Departments:</li>
							<li>Sales - NYC</li>
							<li>Sales - Austin</li>
							<li>Customer Service</li>
						</ul>
						<p class="play-desc">Have other questions? <a href="mailto:<%= contactUS %>">Contact us</a></p>
						<a href="#" class="white-btn" data-dismiss="modal" aria-label="Close">Got it!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
